.App {
  text-align: center;
}

ol {
  text-align: left;
  font-weight: bold;
  display: grid;
  grid-row-gap: 1em;
  grid-template-columns: 85% 10%;
  justify-content: space-around;
  padding-top: 1em;
  padding-left: 0.5em;
}

li {
  grid-column: 1;
  padding-left: 35px;
}
li > p {
  display: inline;
}

li > span {
  padding-right: 15px;
}

li > span > div {
  text-align: center;
}

li > input {
  float: right;
}

li > span > div:hover {
  cursor: pointer;
}

form {
  display: inline-block;
}

form > input {
  display: block;
  margin-bottom: 0.5em;
}

form > button {
  display: block;
  margin-bottom: 0.5em;
}

.checkbox {
  grid-column: 2;
  margin-left: 50%;
}

.filter {
  display: block;
  float: left;
  margin-left: 35px;
}

.overdue {
  color: red;
  cursor: pointer;
}

.soon {
  color: gold;
  cursor: pointer;
}

.fine {
  color: green;
  cursor: pointer;
}
